In [1]:
from lol_spring_player_power import create_player_rankings
from lol_spring_player_power import df
import pandas as pd
import numpy as np
import collections
from mid_season import create_mid_player_rankings, new_df

In [2]:
testing=create_mid_player_rankings(new_df)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/generic.py:3939: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(obj)
/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:2994: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(result)

In [3]:
testing

[   Top [TSM Huni]  Top [C9 Summit]  Top [TL Bwipo]  Top [100T Ssumday]  Top [EG Impact]  Top [GGS Licorice]  Top [FLY Kumo]  Top [CLG Jenkins]  Top [IMT Revenge]  Top [DIG FakeGod]
 0               6                2               1                   4                3                   7              10                  8                  5                  9
 1               8                1               2                   3                4                   6              10                  7                  5                  9
 2               5                1               2                   4                3                   7               9                  8                  6                 10
 3               7                1               3                   4                2                   5               8                 10                  6                  9
 4               8                2               1                   3                4                  10               7                  9                  5                  6
 5              10                3               1                   2                6                   5               4                  7                  8                  9,
    Jungle [TSM Spica]  Jungle [C9 Blaber]  Jungle [TL Santorin]  Jungle [100T Closer]  ...  Jungle [FLY Josedeodo]  Jungle [CLG Contractz]  Jungle [IMT Xerxe]  Jungle [DIG River]
 0                   7                   1                     4                     3  ...                       9                      10                   8                   5
 1                   8                   1                     4                     3  ...                       9                      10                   7                   6
 2                   5                   1                     4                     3  ...                       9                      10                   7                   8
 3                   5                   1                     3                     4  ...                       9                      10                   8                   7
 4                   7                   1                     2                     3  ...                       5                      10                   8                   9
 5                   6                   1                     2                     3  ...                       5                       4                  10                   9

 [6 rows x 10 columns],
    Mid [TSM Keaiduo]  Mid [C9 Fudge]  Mid [TL Bjergsen]  Mid [100T Abbedagge]  Mid [EG Jojopyun]  Mid [GGS Ablazeolive]  Mid [FLY Toucouille]  Mid [CLG Palafox]  Mid [IMT POE]  Mid [DIG Blue]
 0                  7               4                  1                     3                  2                      9                     6                 10              5               8
 1                  9               3                  1                     4                  2                      7                     6                 10              8               5
 2                  6               1                  2                     4                  3                      8                     7                 10              9               5
 3                  9               3                  1                     4                  2                      8                     5                 10              7               6
 4                 10               2                  1                     3                  5                      8                     4                  9              7               6
 5                 10               2                  1                     3                  4                      5                     6                  9              7               8,
    ADC [TSM Tactical]  ADC [C9 Berserker]  ADC [TL Hans Sama]  ADC [100T FBI]  ADC [EG Danny]  ADC [GGS Lost]  ADC [FLY Johnsun]  ADC [CLG Luger]  ADC [IMT Wildturtle / Arrow]  ADC [DIG Neo]
 0                   5                   2                   1               4               3               6                 10                9                             8              7
 1                   6                   1                   2               3               4               8                 10                9                             7              5
 2                   5                   1                   2               3               4               8                  7               10                             9              6
 3                   6                   2                   1               4               3               5                  9               10                             7              8
 4                   7                   1                   2               6               3               4                  5                9                            10              8
 5                   7                   1                   2               3               8               5                  4                6                            10              9,
    SUP [TSM Shenyi / Yursan]  SUP [C9 Winsome]  SUP [TL CoreJJ]  SUP [100T Huhi]  SUP [EG Vulcan]  SUP [GGS Olleh]  SUP [FLY Aphromoo]  SUP [CLG Poome]  SUP [IMT Destiny]  SUP [DIG Biofrost]
 0                          8                 5                1                3                2                7                   4                9                 10                   6
 1                          8                 5                1                4                2                6                   3                9                 10                   7
 2                          8                 4                1                3                2                6                   5                9                 10                   7
 3                          9                 4                1                3                2                6                   5               10                  8                   7
 4                         10                 2                1                5                3                7                   4                9                  6                   8
 5                         10                 3                1                2                4                6                   8                7                  9                   5]

In [10]:
top=testing[0]
top.iloc[0]

Top [TSM Huni]         6
Top [C9 Summit]        2
Top [TL Bwipo]         1
Top [100T Ssumday]     4
Top [EG Impact]        3
Top [GGS Licorice]     7
Top [FLY Kumo]        10
Top [CLG Jenkins]      8
Top [IMT Revenge]      5
Top [DIG FakeGod]      9
Name: 0, dtype: int64

In [11]:
top

   Top [TSM Huni]  Top [C9 Summit]  Top [TL Bwipo]  Top [100T Ssumday]  Top [EG Impact]  Top [GGS Licorice]  Top [FLY Kumo]  Top [CLG Jenkins]  Top [IMT Revenge]  Top [DIG FakeGod]
0               6                2               1                   4                3                   7              10                  8                  5                  9
1               8                1               2                   3                4                   6              10                  7                  5                  9
2               5                1               2                   4                3                   7               9                  8                  6                 10
3               7                1               3                   4                2                   5               8                 10                  6                  9
4               8                2               1                   3                4                  10               7                  9                  5                  6
5              10                3               1                   2                6                   5               4                  7                  8                  9